{% extends 'base.html' %}
{% load static %}
{% block title %}
Apoie
{% endblock title %}
{% block content %}
<div class="jumbotron">
    <h1>Ajude doando sua nota fiscal</h1>
    <p class="lead">Doe sua nota fiscal paulista de forma automática e ajude muitos animais</p>
    <a class="btn btn-lg btn-primary" href="http://cantinhofraterno.org.br/doar-pela-nota-fiscal-paulista/"
       role="button">Veja como doar aqui »</a>
</div>
<br>
<div>
    <h1>Você pode Também...</h1>
    <p>Uma forma simples de apoiar é doar a nota fiscal para a AAIPA. É SIMPLES! Não informe o CPF ou CNPJ no momento da
        compra em qualquer estabelecimento, deposite nos postos de coleta as notas fiscais ou junte-as que a AAIPA vai
        até você resgatá-las.
        Ressaltamos que o resgate das notas fiscais é muito importante, e no momento, é o único meio para pagamento das
        despesas da AAIPA, como aluguel, contas de água, luz, alimentação dos animais, veterinários, etc.; </p>
</div>
<br>
<div class="jumbotron">
    <h1>Seja um voluntário na AAIPA</h1>
    <p class="lead">Doe sua nota fiscal paulista de forma automática e ajude muitos animais</p>
</div>
<br>
<div>
    <h1>Doe tampinhas de Garrafa</h1>
    <p>Doação de tampinhas de garrafa – Doe as tampinhas de garrafas e recipientes plásticos, junte-as e separe por cores. A
    AAIPA participa do programa de uma empresa que auxilia ONGs que reciclam este material.</p>
</div>
<br>
{% endblock content %}