{% extends 'base.html' %}
{% load static %}
{% block title %}
Sobre
{% endblock title %}
{% block content %}
<div>
    <h1>Missão</h1>
    <ul>
        <li> Promover a conscientização da população</li>
        <li> Tratamento adequado e de qualidade aos animais</li>
        <li> Atuar no controle populacional de cães e gatos</li>
        <li> Adoção de animais</li>
    </ul>
</div>
<br>
<div class="jumbotron">
    <h1>Valores</h1>
    <ul>
        <li> Ética e paixão aos animais</li>
        <li> Oferecer as melhores condições aos cães e gatos acolhidos</li>
        <li> Transparência e honestidade</li>
    </ul>
</div>
<br>
<div>
    <h1>História</h1>
    <p> A AAIPA – Associação dos Amigos Itapevenses Protetores dos Animais, teve início no ano de 2002, com pessoas que se preocupavam com os maus tratos e a situação precária dos animais, ajudando-os como podiam. Contudo, mesmo passando por situações adversas e burocráticas por vários anos, a AAIPA passou por uma transformação, e sob a coordenação de Ana Maria, a AAIPA promove ações de conscientização, controle populacional, tratamento e adoção de cães e gatos no município de Itapeva/SP. A AAIPA possui alvará e é devidamente registrada no CRMV, é OSCIP (Organização da Sociedade Civil de Interesse Público).</p>
</div>
{% endblock content %}